*{
    /*font-family: 'Cascadia Code';*/
    font-family: "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    letter-spacing: 0.1em;
}

body{
    background-color: rgb(24, 26, 27);
}

#blockSignup{
    background-color: rgb(24, 26, 27);
    border: 2px solid rgb(95, 85, 70);
    border-radius: 15px;
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

#blockProfile{
    position: fixed;
    background-color: rgb(24, 26, 27);
    border: 2px solid rgb(95, 85, 70);;
    inset: 0;
    width: 500px;
    height: 550px;
    margin: 100px auto;
    display: none;
    flex-direction: column;
}

#field{
    margin: 10px 30px;
    border: 0;
    padding: 0;
}

h1{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
}

p{
    margin: 0;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 25px;
}

.dataInput{
    width: 418px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(48, 52, 54);
    border: 2px solid rgb(95, 85, 70);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.dataInputLabel{
    width: 418px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(48, 52, 54);
    border: 2px solid rgb(95, 85, 70);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#verifylabel{
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 30px;
    border: none;
    font-size: 18px;
    width: 438px;
}

#verify{
    width: 20px;
    height: 20px;
    transform: translateY(33%);
    appearance: none;
    border: 2px solid rgb(95, 85, 70);
    border-radius: 5px;
    background-color: rgb(48, 52, 54);
}

#verify:checked::after{
    content: '✔';
    position: absolute;
    color: white;
    font-size: 22px;
    left: 1px;
    top: -10px;
}

.heart{
    /*color: #f7729c, #ff1d47;*/
    color: #f7729c;
}

.btn{
    font-size: 20px;
    font-weight: bold;
    color: #A96E29;
    background-color: #ffe4c4;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 40px;
    width: 440px;
    border: 2px solid rgb(95, 85, 70);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    opacity: 0.8;
    transform: scale(102%);
}

.blockCloseBtn{
    display: flex;
    justify-content: end;
}

.closeBtn{
    font-size: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: rgb(48, 52, 54);
    transition: all 0.3s ease;
}

.closeBtn:hover{
    opacity: 0.8;
    background-color: red;
}

.cross{
    position: absolute;
    top: -8px;
    right: 4px;
}
